  table {
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 14px;
    text-align: left;
    border-collapse: collapse;
  }
  th, td {
    padding: 8px;
    border: 1px solid black;
  }

  }

  .error {
    background-color: red;
    color: white;
  }

  .ready {
    background-color: green;
    color: white;
  }

  .processing {
    background-color: grey;
    color: white;
  }