table {
    position: absolute;
    top: 30%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-30%);
    -webkit-transform: translateX(-50%) translateY(-30%);
    transform: translateX(-50%) translateY(-30%);

    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e9e9e9;
}

.user-name {
    position: absolute;
    top: 10%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-10%);
    -webkit-transform: translateX(-50%) translateY(-10%);
    transform: translateX(-50%) translateY(-10%);
    font-size: 40px;
    color: blue;
}