{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/create.css' %}">
<link rel="stylesheet" href="{% static 'css/test.css' %}">
{% endblock css %}

{% block page %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6"><br>
        <div class="card border-0">
            <h2>New schema</h2>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <h4>Name</h4>
                    </div>
                    <div class="col-md-9"></div>
                    <div class="col-md-1" id="div-submit-button" action="{% url 'submit_create_schema' %}">
                        <button type="button" class="btn btn-primary" data-schema-id="{{ schema.id }}"
                                id="submit-button" style="width: 80px;">Submit
                        </button>
                    </div>
                </div>
                <input type="text" class="form-control" name="schema_name" id="schema_name" style="width: 15%;"
                       value="{{ schema.schema_name }}">
                <br>
                <p class="card-text" style="width:20%;">Column separator</p>
                <p class="card-text" style="width:20%;">{{ form.delimiter }}</p>
                <p class="card-text" style="width:20%;">String character</p>
                <p class="card-text" style="width:20%">{{ form.quotechar }}</p>

            </div>
        </div>
        <div>
            {% if schema_columns %}
            <table cellspacing="20" class="schema-table">
                <thead>
                <tr>
                    <th>Column Name</th>
                    <th>Type</th>
                    <th>From</th>
                    <th>To</th>
                    <th></th>
                    <th>Order</th>
                </tr>
                </thead>
                {% for column in schema_columns %}

                <tbody>
                <tr>
                    <td style="width:25%"><input value="{{column.column_name}}" class="form-control" readonly></td>
                    <td style="width:20%"><input value="{{column.type_field}}" class="form-control" readonly></td>
                    <td style="width:10%"><input value="{{column.integer_min}}" class="form-control column-from-to"
                                                 readonly></td>
                    <td style="width:10%"><input value="{{column.integer_max}}" class="form-control column-from-to"
                                                 readonly></td>
                    <td style="width: 15%"></td>
                    <td style="width:15%; text-align: right"><input value="{{column.order}}" class="form-control"
                                                                    readonly></td>
                    <td style="text-align: right;">
                        <div id="delete-button" action="{% url 'delete_schemas_column' %}">
                            <a href="" class="delete-btn" data-column_id="{{ column.id }}"
                               style="color: red; text-decoration: none;">
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
            {% endif %}
        </div>
        <br>
        <div>
            <form id="schema-form" action="{% url 'create' %}">
                <table style="border-collapse: separate;">
                    <thead>
                    <tr>
                        <th style="width:22%">Column Name</th>
                        <th style="width:20%">Type</th>
                        <th style="width:10%" class="from-to">From</th>
                        <th style="width:10%" class="from-to">To</th>
                        <th style="width:15%"></th>
                        <th style="width:15%">Order</th>
                        <th style="width:10%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width:22%"><input type="text" class="form-control" name="column_name"
                                                     id="column_name" required></td>
                        <td style="width:20%"><p class="card-text">{{ form.data_type }}</p></td>
                        <td style="width:10%"><input type="number" class="form-control from-to" name="column_from"
                                                     id="extra_input_min"></td>
                        <td style="width:10%"><input type="number" class="form-control from-to" name="column_to"
                                                     id="extra_input_max"></td>
                        <td style="width:15%"></td>
                        <td style="width:15%"><input type="number" class="form-control" name="column_order"
                                                     id="order_id" min="0" required></td>
                        <td style="width:10%"></td>

                    </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary" id="create-btn">Create</button>
            </form>
        </div>

    </div>
    <div class="col-md-5"></div>
</div>
{% endblock page %}

{% block js %}
<script src="{% static 'js/create.js' %}"></script>
{% endblock js %}
