{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/download.css' %}">
{% endblock css %}

{% block page %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <h2>Data sets</h2>
        <div class="row">
            <input type="number" class="form-control" id="rows" style="width: 5%" min="1">
            <button type="button" action="{% url 'download_page' id=schema.id %}" class="btn btn-success"
                    id="generate-data" style="width: 10%">Generate data</button>
        </div>
        <br>
        <table class="text-center">
            <thead>
            <tr>
                <th>#</th>
                <th>Created</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for schema in all_user_schemas %}
            <tr>
                <td>{{ schema.id }}</td>
                <td>{{ schema.modified }}</td>
                {% if schema.closed %}
                {% if schema.error %}
                <td class="error">Error</td>
                {% else %}
                <td class="ready">Ready</td>
                {% endif %}
                {% else %}
                <td class="processing">Processing</td>
                {% endif %}
                {% if schema.csv_file %}
                <td><a href="{% url 'download_csv' file_path=schema.csv_file %}">Download</a></td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock page %}

{% block js %}
<script src="{% static 'js/download.js' %}"></script>
{% endblock js %}
