{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}
{% block page %}
<form method="post">
    <div class="card border text-center">
        <h2>Login</h2> {% csrf_token %}
        <div class="card-body d-grid gap-2">
            <p class="card-text">{{form}}</p>
            <button type="submit">Login</button>
        </div>
    </div>
</form>
{% endblock page %}
