{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock css %}

{% block page %}
{% if user.is_authenticated %}
<span class="user-name">Hello {{ user.username }}</span>
<table class="text-center">
    <thead>
    <tr>
        <th>#</th>
        <th>Created</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for schema in all_user_schemas %}
    <tr>
        <td>{{ schema.id }}</td>
        <td>{{ schema.modified }}</td>
        {% if schema.closed %}
        {% if schema.error %}
        <td class="error">Error</td>
        {% else %}
        <td class="ready">Ready</td>
        {% endif %}
        {% else %}
        <td class="processing">Processing</td>
        {% endif %}
        {% if schema.csv_file %}
        <td><a href="{% url 'download_csv' file_path=schema.csv_file %}">Download</a></td>
        {% else %}
        <td></td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <span class="user-name">Log in to see your data sets</span>
    </div>
    <div class="col-md-1"></div>
</div>
{% endif %}

{% endblock page %}

{% block js %}
<script src="{% static 'js/download.js' %}"></script>
{% endblock js %}

