{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/sign-up.css' %}">
{% endblock css %}

{% block page %}

<form class="signup-form text-center" method="post">
    <h2>Sign up</h2>

    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
</form>

{% endblock page %}

{% block js %}
{% endblock js %}